
.idea/.idea.PencApp/.idea/deploymentTargetSelector.xml

.idea/.idea.PencApp/.idea/indexLayout.xml

.idea/.idea.PencApp/.idea/libraries/androidx_annotation_annotation_jvm.xml

.idea/.idea.PencApp/.idea/libraries/androidx_annotation_annotation.xml

.idea/.idea.PencApp/.idea/libraries/androidx_arch_core_core_common.xml

.idea/.idea.PencApp/.idea/libraries/androidx_collection_collection_jvm.xml

.idea/.idea.PencApp/.idea/libraries/androidx_collection_collection_ktx.xml

.idea/.idea.PencApp/.idea/libraries/androidx_collection_collection.xml

.idea/.idea.PencApp/.idea/libraries/androidx_concurrent_concurrent_futures.xml

.idea/.idea.PencApp/.idea/libraries/androidx_constraintlayout_constraintlayout_core.xml

.idea/.idea.PencApp/.idea/libraries/androidx_lifecycle_lifecycle_common_jvm.xml

.idea/.idea.PencApp/.idea/libraries/androidx_lifecycle_lifecycle_common.xml

.idea/.idea.PencApp/.idea/libraries/androidx_resourceinspection_resourceinspection_annotation.xml

.idea/.idea.PencApp/.idea/libraries/annotations.xml

.idea/.idea.PencApp/.idea/libraries/disklrucache.xml

.idea/.idea.PencApp/.idea/libraries/guava_listenablefuture.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_annotations_24_1_0.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_kotlin_kotlin_stdlib_2_0_10.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_kotlin_kotlin_stdlib_common_2_0_10.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_kotlinx_atomicfu_0_25_0.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_kotlinx_atomicfu_jvm_0_25_0.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_kotlinx_kotlinx_coroutines_android_1_8_1.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_kotlinx_kotlinx_coroutines_core_1_8_1.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_8_1.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_kotlinx_kotlinx_serialization_core_1_7_1.xml

.idea/.idea.PencApp/.idea/libraries/org_jetbrains_kotlinx_kotlinx_serialization_core_jvm_1_7_1.xml

.idea/.idea.PencApp/.idea/projectSettingsUpdater.xml

.idea/.idea.PencApp/.idea/vcs.xml

.idea/.idea.PencApp/.idea/workspace.xml

PencApp.sln.DotSettings.user
